#BODY_1 {
    block-size: 945px;
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    height: 945px;
    inline-size: 1920px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    min-block-size: 937px;
    min-height: 937px;
    min-inline-size: 1920px;
    min-width: 1920px;
    perspective-origin: 960px 472.5px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 960px 472.5px;
    width: 1920px;
    animation: 0s ease 0s 1 normal none running none;
    background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(84, 84, 84) none 0px;
    overflow: hidden;
    transition: none 0s ease 0s;
}/*#BODY_1*/

#BODY_1:after {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#BODY_1:after*/

#BODY_1:before {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#BODY_1:before*/

#DIV_2 {
    block-size: 54px;
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    height: 54px;
    inline-size: 1920px;
    margin-block-end: 1px;
    perspective-origin: 960px 27px;
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    transform-origin: 960px 27px;
    width: 1920px;
    z-index: 100;
    animation: 0s ease 0s 1 normal none running none;
    background: rgb(38, 38, 38) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(84, 84, 84);
    font: 12px / 54px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0px 1px;
    outline: rgb(84, 84, 84) none 0px;
    transition: none 0s ease 0s;
}/*#DIV_2*/

#DIV_2:after {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 12px / 54px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 12px / 54px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#DIV_2:before*/

#DIV_3 {
    block-size: 0px;
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    float: left;
    height: 0px;
    inline-size: 40px;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    perspective-origin: 20px 0px;
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    transform-origin: 20px 0px;
    width: 40px;
    animation: 0s ease 0s 1 normal none running none;
    border: 0px none rgb(84, 84, 84);
    font: 12px / 54px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
    padding: 0px 20px;
    transition: none 0s ease 0s;
}/*#DIV_3*/

#DIV_3:after {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 12px / 54px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#DIV_3:after*/

#DIV_3:before {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 12px / 54px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#DIV_3:before*/

#A_4 {
    block-size: 18px;
    bottom: 909px;
    box-sizing: border-box;
    display: block;
    height: 18px;
    inline-size: 152px;
    inset-block-end: 909px;
    inset-block-start: 18px;
    inset-inline-end: 1748px;
    inset-inline-start: 20px;
    left: 20px;
    perspective-origin: 76px 9px;
    position: absolute;
    right: 1748px;
    text-indent: -9999px;
    text-size-adjust: 100%;
    top: 18px;
    transform-origin: 76px 9px;
    width: 152px;
    animation: 0s ease 0s 1 normal none running none;
    background: rgba(0, 0, 0, 0) url("https://public-assets.envato-static.com/assets/logos/envato_market-a5ace93f8482e885ae008eb481b9451d379599dfed24868e52b6b2d66f5cf633.svg") repeat scroll 0% 0% / 152px 18px padding-box border-box;
    font: 12px / 54px "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: none 0s ease 0s;
}/*#A_4*/

#A_4:after {
    box-sizing: border-box;
    text-indent: -9999px;
    text-size-adjust: 100%;
    font: 12px / 54px "Helvetica Neue", Helvetica, Arial, sans-serif;
}/*#A_4:after*/

#A_4:before {
    box-sizing: border-box;
    text-indent: -9999px;
    text-size-adjust: 100%;
    font: 12px / 54px "Helvetica Neue", Helvetica, Arial, sans-serif;
}/*#A_4:before*/

#DIV_5 {
    block-size: 54px;
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    float: right;
    height: 54px;
    inline-size: 133.703px;
    perspective-origin: 66.8438px 27px;
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    transform-origin: 66.8516px 27px;
    width: 133.703px;
    animation: 0s ease 0s 1 normal none running none;
    border: 0px none rgb(84, 84, 84);
    font: 12px / 54px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
    transition: none 0s ease 0s;
}/*#DIV_5*/

#DIV_5:after {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 12px / 54px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#DIV_5:after*/

#DIV_5:before {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 12px / 54px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#DIV_5:before*/

#DIV_6 {
    block-size: 54px;
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    display: inline-block;
    height: 54px;
    inline-size: 133.703px;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    perspective-origin: 66.8438px 27px;
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    transform-origin: 66.8516px 27px;
    width: 133.703px;
    animation: 0s ease 0s 1 normal none running none;
    border: 0px none rgb(84, 84, 84);
    font: 12px / 54px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
    padding: 0px 20px;
    transition: none 0s ease 0s;
}/*#DIV_6*/

#DIV_6:after {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 12px / 54px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#DIV_6:after*/

#DIV_6:before {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 12px / 54px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#DIV_6:before*/

#A_7 {
    block-size: 31px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-end-end-radius: 4px;
    border-end-start-radius: 4px;
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    border-start-end-radius: 4px;
    border-start-start-radius: 4px;
    bottom: 0px;
    box-shadow: rgb(111, 154, 55) 0px 2px 0px 0px;
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    display: inline-block;
    height: 31px;
    inline-size: 93.7031px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    padding-block-end: 5px;
    padding-block-start: 5px;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    perspective-origin: 46.8438px 15.5px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 46.8516px 15.5px;
    width: 93.7031px;
    animation: 0s ease 0s 1 normal none running none;
    background: rgb(130, 180, 64) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 4px;
    font: 14px / 21px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 5px 20px;
    transition: none 0s ease 0s;
}/*#A_7*/

#A_7:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 14px / 21px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_7:after*/

#A_7:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 14px / 21px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_7:before*/

#IFRAME_8 {
    block-size: 883px;
    border-block-end-color: rgb(84, 84, 84);
    border-block-end-style: none;
    border-block-end-width: 0px;
    border-block-start-color: rgb(84, 84, 84);
    border-block-start-style: none;
    border-block-start-width: 0px;
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-end-style: none;
    border-inline-end-width: 0px;
    border-inline-start-color: rgb(84, 84, 84);
    border-inline-start-style: none;
    border-inline-start-width: 0px;
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    height: 883px;
    inline-size: 1920px;
    perspective-origin: 960px 441.5px;
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    transform-origin: 960px 441.5px;
    width: 1920px;
    animation: 0s ease 0s 1 normal none running none;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
    transition: none 0s ease 0s;
}/*#IFRAME_8*/

#IFRAME_8:after {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#IFRAME_8:after*/

#IFRAME_8:before {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#IFRAME_8:before*/

#SCRIPT_9, #SCRIPT_11, #SCRIPT_13, #SCRIPT_15 {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    animation: 0s ease 0s 1 normal none running none;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
    transition: none 0s ease 0s;
}/*#SCRIPT_9, #SCRIPT_11, #SCRIPT_13, #SCRIPT_15*/

#SCRIPT_9:after, #SCRIPT_11:after, #SCRIPT_13:after, #SCRIPT_15:after {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#SCRIPT_9:after, #SCRIPT_11:after, #SCRIPT_13:after, #SCRIPT_15:after*/

#SCRIPT_9:before, #SCRIPT_11:before, #SCRIPT_13:before, #SCRIPT_15:before {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#SCRIPT_9:before, #SCRIPT_11:before, #SCRIPT_13:before, #SCRIPT_15:before*/

#DIV_10 {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    display: none;
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    animation: 0s ease 0s 1 normal none running none;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
    transition: none 0s ease 0s;
}/*#DIV_10*/

#DIV_10:after {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#DIV_10:after*/

#DIV_10:before {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#DIV_10:before*/

#SCRIPT_12, #SCRIPT_14 {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    animation: 0s ease 0s 1 normal none running none;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
    transition: none 0s ease 0s;
}/*#SCRIPT_12, #SCRIPT_14*/

#SCRIPT_12:after, #SCRIPT_14:after {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#SCRIPT_12:after, #SCRIPT_14:after*/

#SCRIPT_12:before, #SCRIPT_14:before {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#SCRIPT_12:before, #SCRIPT_14:before*/

#SCRIPT_16 {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    animation: 0s ease 0s 1 normal none running none;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
    transition: none 0s ease 0s;
}/*#SCRIPT_16*/

#SCRIPT_16:after {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#SCRIPT_16:after*/

#SCRIPT_16:before {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#SCRIPT_16:before*/

#IFRAME_17 {
    block-size: 1px;
    border-block-end-color: rgb(84, 84, 84);
    border-block-end-style: none;
    border-block-end-width: 0px;
    border-block-start-color: rgb(84, 84, 84);
    border-block-start-style: none;
    border-block-start-width: 0px;
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-end-style: none;
    border-inline-end-width: 0px;
    border-inline-start-color: rgb(84, 84, 84);
    border-inline-start-style: none;
    border-inline-start-width: 0px;
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    display: none;
    height: 1px;
    inline-size: 1px;
    inset-block-start: -9999px;
    position: absolute;
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    top: -9999px;
    width: 1px;
    animation: 0s ease 0s 1 normal none running none;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
    transition: none 0s ease 0s;
}/*#IFRAME_17*/

#IFRAME_17:after {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#IFRAME_17:after*/

#IFRAME_17:before {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#IFRAME_17:before*/

#IFRAME_18 {
    block-size: 1px;
    border-block-end-color: rgb(84, 84, 84);
    border-block-end-style: none;
    border-block-end-width: 0px;
    border-block-start-color: rgb(84, 84, 84);
    border-block-start-style: none;
    border-block-start-width: 0px;
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-end-style: none;
    border-inline-end-width: 0px;
    border-inline-start-color: rgb(84, 84, 84);
    border-inline-start-style: none;
    border-inline-start-width: 0px;
    bottom: 10943px;
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    display: block;
    height: 1px;
    inline-size: 1px;
    inset-block-end: 10943px;
    inset-block-start: -9999px;
    inset-inline-end: -1px;
    inset-inline-start: 1920px;
    left: 1920px;
    perspective-origin: 0.5px 0.5px;
    position: absolute;
    right: -1px;
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    top: -9999px;
    transform-origin: 0.5px 0.5px;
    width: 1px;
    animation: 0s ease 0s 1 normal none running none;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
    transition: none 0s ease 0s;
}/*#IFRAME_18*/

#IFRAME_18:after {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#IFRAME_18:after*/

#IFRAME_18:before {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#IFRAME_18:before*/

#DIV_19 {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    display: inline;
    perspective-origin: 0px 0px;
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    animation: 0s ease 0s 1 normal none running none;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
    transition: none 0s ease 0s;
}/*#DIV_19*/

#DIV_19:after {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#DIV_19:after*/

#DIV_19:before {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#DIV_19:before*/

#IFRAME_20 {
    block-size: 50px;
    border-block-end-color: rgb(84, 84, 84);
    border-block-end-style: none;
    border-block-end-width: 0px;
    border-block-start-color: rgb(84, 84, 84);
    border-block-start-style: none;
    border-block-start-width: 0px;
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-end-style: none;
    border-inline-end-width: 0px;
    border-inline-start-color: rgb(84, 84, 84);
    border-inline-start-style: none;
    border-inline-start-width: 0px;
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    display: none;
    height: 50px;
    inline-size: 50px;
    position: absolute;
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    width: 50px;
    z-index: 2147483647;
    animation: 0s ease 0s 1 normal none running none;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
    transition: none 0s ease 0s;
}/*#IFRAME_20*/

#IFRAME_20:after {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#IFRAME_20:after*/

#IFRAME_20:before {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#IFRAME_20:before*/

#DIV_21, #IMG_22 {
    block-size: 0px;
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    display: none;
    height: 0px;
    inline-size: 0px;
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    visibility: hidden;
    width: 0px;
    animation: 0s ease 0s 1 normal none running none;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
    transition: none 0s ease 0s;
}/*#DIV_21, #IMG_22*/

#DIV_21:after, #IMG_22:after {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    visibility: hidden;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#DIV_21:after, #IMG_22:after*/

#DIV_21:before, #IMG_22:before {
    border-block-end-color: rgb(84, 84, 84);
    border-block-start-color: rgb(84, 84, 84);
    border-inline-end-color: rgb(84, 84, 84);
    border-inline-start-color: rgb(84, 84, 84);
    box-sizing: border-box;
    caret-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    column-rule-color: rgb(84, 84, 84);
    text-decoration: none solid rgb(84, 84, 84);
    text-emphasis-color: rgb(84, 84, 84);
    text-size-adjust: 100%;
    visibility: hidden;
    border: 0px none rgb(84, 84, 84);
    font: 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(84, 84, 84) none 0px;
}/*#DIV_21:before, #IMG_22:before*/

